@use '../../master.scss';

.mail{
    width: 100%;
    margin-top: 3.125rem;
    background-color: master.$blue;
    color: master.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 3.125rem;
}; 
.mail-input-container>input{
    width: 18.75rem;
    height: 1.875rem;
    padding: 0.625rem;
    border: none;
    margin-right: 0.625rem;
    border-radius: 0.3125rem;
    color: master.$blue;
};
.mail-input-container>button{
    height: 3.125rem;
    background-color: master.$blue;
    color: master.$white;
    font-weight: 500;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
};

