<!DOCTYPE html>
    <html>

    <head>

    <title>Divison5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body {
      background-color: aqua;
    }
    .auto-style1 {
        margin-right: 663px;
    }
    body,h1 {font-family: "Raleway", sans-serif}
    body, html {height: 100%}
    .bgimg {
      background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }
    .auto-style2 {
        color: white;
        font-family: "Segoe Print";

    }

    .container {
  position: fixed;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}
    </style>
    </head>

    <body>
        

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-topleft w3-padding-large w3-xlarge">
        <a href = "/login" button type="submit">Log In</a>
      </div>
      <div class="w3-display-topright w3-padding-large w3-xlarge">
        <a href = "/signup" button type="submit">Register</a>
      </div>
      <div class="w3-display-middle">
        <h1 class="auto-style2">Book your favorite rooms here</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center">Choose your type from a wide variety of beautiful hotels</p>
      </div>
      <div class="w3-display-bottomleft w3-padding-large">
        Powered by <a href="https://www.division5.co" target="_blank">Division5</a>
      </div>
    </div>
    </body>
    </html>