@use '../../master.scss';
.navbar{
    height: 3.125rem;
    background-color: master.$blue;
    display: flex;
    justify-content: center;
}
.nav-container{
    width: 100%;
    max-width: 64rem;
    color: master.$white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 500;
}
.nav-button{
    margin-left: 1.25rem;
    border: none;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
    color: master.$blue;
}

