$yellow: #febb02;
$gray: #555;
$white: #fff;
$lightblue: #0071c2;
$lightgray: rgb(212, 212, 212);
$green: #008009;
$lightdark: rgba(81, 5, 5, 0.008);
$blue: #003580;
$black: #000;
$limegreen: rgb(50, 205, 50);
$red: rgb(255, 0 ,0);
$lightpink: rgb(255, 182, 193);